<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{title}}</title>
<meta name="description" content="{{description}}">
<meta name="theme-color" content="#070b17">
<link rel="icon" href="favicon.svg" type="image/svg+xml">
<link rel="stylesheet" href="fonts/script/script-fonts.css?v=5">
<link rel="stylesheet" href="fonts/noto-sans-sc/noto-sans-sc-wght.css?v=5">
<link rel="stylesheet" href="css/style.css?v=5">
<link rel="stylesheet" href="css/home.css?v=5">
{{pageStyles}}
<script>document.documentElement.classList.add('js');</script>
